* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  /* 常用字体 */
  font-size: 14px;
  /* 基准字体大小 */
  line-height: 1.2;
  /* 行高 */
  color: #333;
  /* 文字颜色 */
  background-color: #f5f7fa;
  /* 页面背景色 */
  background-color: #1f1f1f;
  -webkit-font-smoothing: antialiased;
  /* 字体抗锯齿 */
  -moz-osx-font-smoothing: grayscale;
  background-color: #36384d;
  overflow: hidden;
}
.container {
  margin: 20px auto 0;
  display: flex;
  width: 550px;
  height: 300px;
  background-color: white;
  gap: 30px;
  padding: 15px;
  border-radius: 10px;
}
.container .content {
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
.container .content .title .stay {
  font-size: 28px;
  font-weight: 700;
}
.container .content .title .introduce {
  margin-top: 15px;
  font-size: 12px;
}
.container .content .productList {
  font-size: 10px;
}
.container .content .productList .ulList {
  list-style: none;
}
.container .content .productList .ulList li {
  position: relative;
  height: 20px;
  line-height: 20px;
  padding-left: 20px;
}
.container .content .productList .ulList li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: url("images/icon-list.svg") no-repeat 0% center;
  /* 替换为你的对勾图标路径 */
  background-size: 12px 12px;
  line-height: 20px;
}
.container .content .email .emailText {
  font-size: 10px;
  display: flex;
  width: 220px;
  justify-content: space-between;
}
.container .content .email .emailText h3 {
  font-weight: 600;
  margin-bottom: 5px;
}
.container .content .email .emailText .errorFormat {
  color: #ff693e;
}
.container .content .email .emailText .errorFormat.hidden {
  display: none;
}
.container .content .email .emailInput {
  padding-left: 10px;
  line-height: 30px;
  width: 220px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #000;
  outline: none;
}
.container .content .email .emailInput.textStatus {
  border-color: #ff693e;
  outline: #ff693e;
}
.container .content .btn {
  color: white;
  font-size: 10px;
  border-radius: 5px;
  width: 220px;
  height: 30px;
  border: none;
  background-color: #232742;
}
.container .content .btn.tureStates {
  background: linear-gradient(to right, #ff5476, #ff693e);
}
.container .imgContainer {
  flex: 4;
}
.container .imgContainer img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.success {
  margin: 20px auto;
  width: 260px;
  height: auto;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.success.hidden {
  display: none;
}
.success img {
  width: 28px;
  height: 28px;
}
.success p {
  font-size: 12px;
}
.success .dismiss {
  color: white;
  font-size: 10px;
  border-radius: 5px;
  width: 220px;
  height: 30px;
  border: none;
  background-color: #232742;
  cursor: pointer;
}
.success .dismiss.tureStates {
  background: linear-gradient(to right, #ff5476, #ff693e);
}
