* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  /* 常用字体 */
  font-size: 14px;
  /* 基准字体大小 */
  line-height: 1.5;
  /* 行高 */
  color: #333;
  /* 文字颜色 */
  background-color: #f5f7fa;
  /* 页面背景色 */
  background-color: #1f1f1f;
  -webkit-font-smoothing: antialiased;
  /* 字体抗锯齿 */
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  overflow: hidden;
}
.container {
  width: 65%;
  height: auto;
  margin: 20px auto;
}
.container .header {
  margin: 0 auto;
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .header .title {
  font-size: 16px;
  letter-spacing: 1.2px;
  color: #89888e;
}
.container .header .subtitle {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #4b4b5f;
}
.container .header .textContent {
  word-wrap: break-word;
  letter-spacing: 1.2px;
  text-align: center;
  width: 400px;
  font-size: 10px;
  color: #89888e;
}
.container .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  height: 400px;
  align-items: center;
}
.container .cards .card {
  height: 180px;
  display: flex;
  gap: 8px;
  padding: 18px;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border-top: 3px solid #e6e6e6;
}
.container .cards .card .cardTitle {
  font-size: 16px;
  font-weight: 600;
}
.container .cards .card .cardText {
  font-size: 14px;
  color: #89888e;
}
.container .cards .card .cardImage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
}
.container .cards .card .cardImage img {
  width: 48px;
  height: 48px;
}
.container .cards .card.cardBlue {
  border-top: 3px solid #96dcdc;
}
.container .cards .card.cardRed {
  border-top: 3px solid #eb8c9b;
}
.container .cards .card.cardYellow {
  border-top: 3px solid #fae1c3;
}
.container .cards .card.cardGreen {
  border-top: 3px solid #96dcdc;
}
.container .cards .coumln2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
